{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "~": "./src/scripts",
        "@images": "./src/images"
      }
    }]
  ]
}
