@keyframes move {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

#align-content .preview {
  & > div {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    position: relative;

    & > span {
      min-width: 30%;
      text-align: center;
      padding: 5px 0px;
      margin: 5px;
      height: 30px;
      box-sizing: border-box;
    }
  }
  &.flex-start > div {
    align-content: flex-start;

  }
  &.flex-end > div {
    align-content: flex-end;
  }
  &.center > div {
    align-content: center;
  }
  &.space-between > div {
    align-content: space-between;
  }
  &.space-around > div {
    align-content: space-around;
  }
}

#align-items .preview {
  & > div {
    display: flex;
    height: 100%;

    span {
      flex: 1;
      text-align: center;
      font-size: 13px;

      &:nth-child(2) {
        padding-top: 15px;
      }
    }
  }
  &.flex-start > div {
    align-items: flex-start;
  }
  &.flex-end > div {
    align-items: flex-end;
  }
  &.center > div {
    align-items: center;
  }
  &.baseline > div {
    align-items: baseline;
  }
}

#align-self .preview {
  & > div {
    display: flex;
    height: 100%;
    align-items: center;

    span {
      flex: 1;
      text-align: center;
      font-size: 13px;
      padding: 20px 0px;

      &:nth-child(2) {
        background: $oc-teal-3;
        height: auto
      }
    }
  }
  &.auto > div span:nth-child(2) {
    align-self: auto;
  }
  &.flex-start > div span:nth-child(2) {
    align-self: flex-start;
  }
  &.flex-end > div span:nth-child(2) {
    align-self: flex-end;
  }
  &.center > div span:nth-child(2) {
    align-self: center;
  }
  &.stretch > div span:nth-child(2) {
    align-self: stretch;
  }
  &.baseline > div span:nth-child(2) {
    align-self: baseline;
  }
}

#animation-delay .preview {
  & > div {
    background: $oc-yellow-5;
    width: 80px;
    height: 80px;
    animation: 3s infinite;
    position: relative;
  }
  &.a > div {
    animation-delay: 0s;
  }
  &.b > div {
    animation-delay: 1s;
  }
  &.c > div {
    animation-delay: -1s;
  }
}
