#flex-wrap .preview {
  &.wrap > div{
    flex-flow: wrap;
  }
  &.nowrap {
    overflow: auto;
    & > div {
      flex-flow: nowrap;
    }
  }
  &.wrap-reverse > div {
    flex-flow: wrap-reverse;
  }
  & > div {
    display: flex;

    & > span {
      min-width: 30%;
      text-align: center;
      padding: 5px 0px;
      margin: 5px;
    }
  }
}

#height .preview {
  &.px-150 .text{
    height: 150px;
  }
  &.per-50 .text {
    height: 50%;
  }
}

#color .preview {
  &.red {
    color: red;
  }
}
