#font-size .preview {
  &.a > div {
    font-size: 20px;
  }
  &.b > div {
    font-size: 3em;
  }
}

#font-family .preview {
  &.default > div {
    font-family: "";
  }
  &.a > div {
    font-family: "Microsoft YaHei",STKaiti;
  }
  &.b > div {
    font-family: consolas,monospace;
  }
}

#flex-direction .preview {
  & > div{
    display: flex;

    & > span {
      flex: 1;
      height: 40px;
      max-width: 90px;
    }
  }
  &.row-reverse > div{
    flex-direction: row-reverse;
  }
  &.column > div{
    flex-direction: column;
  }
  &.column-reverse > div{
    flex-direction: column-reverse;
  }
}

#flex-flow .preview {
  & > div{
    display: flex;
    height: 100%;
    overflow-y: auto;

    & > span {
      flex: 1;
      min-height: 40px;
      max-height: 40px;
      max-width: 90px;
      min-width: 90px;
    }
  }
  &.a > div{
    flex-flow: row-reverse wrap;
  }
  &.b > div{
    height: 170px;
    flex-flow: column nowrap;
  }
  &.c > div{
    flex-flow: column wrap;
    height: 170px;
  }
}

#flex-grow .preview {
  & > div {
    display: flex;

    span {
      width: 70px;
      height: 40px;
    }
  }
  &.a > div {
    span:nth-child(1) {
      flex-grow: 3;
    }
  }
  &.b > div {
    span:nth-child(1) {
      flex-grow: 1;
    }
    span:nth-child(2) {
      flex-grow: 3;
    }
    span:nth-child(3) {
      flex-grow: 3;
    }
  }
}

#flex-shrink .preview {
  & > div {
    display: flex;
    width: 300px;
    background: $oc-blue-2;
    padding: 5px;

    span {
      flex-grow: 0;
      flex-basis: auto;
      height: 40px;
    }
  }
  &.default > div {
    span:nth-child(1)::after {
      content: '这是一个设置了flex-shrink属性为1的元素';
    }
    span:nth-child(2)::after {
      content: 'cssbar';
    }
    span:nth-child(3)::after {
      content: 'cssbar';
    }
  }
  &.a > div {
    span:nth-child(1) {
      flex-shrink: 0;

      &::after {
        content: '这是一个设置了flex-shrink属性为0的元素'
      }
    }
    span:nth-child(2)::after {
      content: 'cssbar';
    }
    span:nth-child(3)::after {
      content: 'cssbar';
    }
  }
}

#flex-basis .preview {
  & > div {
    display: flex;

    span {
      height: 40px;
    }
  }
  &.c > div {
    span:nth-child(1) {
      flex-basis: auto;
      width: '150px'
    }
  }
  &.a > div {
    span:nth-child(1) {
      flex-basis: 150px;
    }
  }
  &.b > div {
    span:nth-child(1) {
      flex-basis: 30px;
    }
  }
}

#flex .preview {
  & > div {
    display: flex;

    span {
      height: 40px;
    }
  }
  &.a > div {
    span:nth-child(1) {
      flex: 1;
    }
    span:nth-child(2) {
      flex: 1;
    }
    span:nth-child(3) {
      flex: 1;
    }
  }
}

#font-style .preview {
  &.italic > div {
    font-style: italic;
  }
  &.oblique > div {
    font-style: oblique;
  }
}

#font-variant .preview {
  &.small-caps {
    font-variant: small-caps;
  }
}

#font-weight .preview {
  &.bold > div {
    font-weight: bold;
  }
  &.lighter > div {
    font-weight: lighter;
  }
  &.a > div {
    font-weight: 500;
  }
}

#font .preview {
  &.a > div {
    font: 20px "Microsoft YaHei",STKaiti;
  }
}
