.preview {
  & > div {
    @for $i from 1 through 8 {
      & > span:nth-child(#{$i}) {
        background: nth($colors, $i);
      }
    }
  }
  .text {
    margin-bottom: 5px;
    background: $oc-teal-4;
    border-radius: 3px;
    padding: 3px;
  }
}

@import "./a.scss";
@import "./b.scss";
@import "./c.scss";
@import "./t.scss";
@import "./l.scss";
@import "./r.scss";
@import "./w.scss";
@import "./z.scss";
@import "./m.scss";
@import "./p.scss";
@import "./o.scss";
@import "./f.scss";
@import "./example.scss";
