#left .preview {

  & > div {
    margin: 30px;
    border: 1px solid $oc-blue-5;
    position: relative;
    height: 100px;
    font-size: 14px;

    & > span {
      width: 100px;
      padding: 10px 0px;
      display: block;
      text-align: center;
    }
  }
  .absolute {
    position: absolute;
    background: $oc-red-4;
    bottom: 10px;
  }
  .relative {
    position: relative;
    background: $oc-yellow-4;
    top: 10px;
  }
  .natural-absolute {
    position: absolute;
    background: $oc-red-4;
    opacity: 0.2;
    bottom: 10px;
  }
  .natural-relative {
    position: absolute;
    background: $oc-yellow-4;
    opacity: 0.2;
    top: 10px;
  }
  &.px-20 {
    .relative, .absolute {
      left: 20px;
    }
  }
  &.px-0 {
    .relative, .absolute {
      left: 0px;
    }
  }
  &.per-50 {
    .relative, .absolute {
      left: 50%;
    }
  }
}

#line-height .preview{
  &.a {
    line-height: 1.5;
  }
  &.b {
    line-height: 30px;
  }
}

#letter-spacing .preview {
  &.a > div {
    letter-spacing: 10px;
  }
}

#list-style-type .preview {
  &.disc > ul {
    list-style-type: disc;
  }
  &.circle > ul {
    list-style-type: circle;
  }
  &.square > ul {
    list-style-type: square;
  }
  &.decimal > ul {
    list-style-type: decimal;
  }
  &.none > ul {
    list-style-type: none;
  }
  &.cjk-ideographic > ul {
    list-style-type: cjk-ideographic;
  }
  &.upper-latin > ul {
    list-style-type: upper-latin;
  }
  &.cjk-ideographic > ul {
    list-style-type: cjk-ideographic;
  }
}

#list-style-position .preview {
  li {
    background: $oc-yellow-4;
  }
  &.inside > ul {
    list-style-position: inside;
  }
}

#list-style-image .preview {
  &.a > ul {
    list-style-image: url('../images/favicon.png');
  }
}

#list-style .preview {
 &.default > ul {
   list-style: disc none outside;
 }
 &.a > ul {
   list-style: circle;
 }
 &.b > ul {
   list-style: circle inside;
 }
}
