#opacity .preview {
  & > div {
    background: $oc-teal-4;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.a div{
    opacity: 0;
  }
  &.b div{
    opacity: 0.3;
  }
  &.c div{
    opacity: 0.7;
  }
}

#overflow .preview {
  & > div {
    width: 260px;
    height: 80px;

    & > div {
      width: 300px;
      height: 200px;
    }
  }
  &.hidden > div {
    overflow: hidden;
  }
  &.scroll > div {
    overflow: scroll;
  }
  &.auto > div {
    overflow: auto;
  }
}
#overflow-x .preview {
  & > div {
    width: 260px;
    height: 80px;
    word-break: keep-all;
    white-space: nowrap;

    & > div {
      width: 300px;
      height: 50px;
    }
  }
  &.hidden > div {
    overflow-x: hidden;
  }
  &.scroll > div {
    overflow-x: scroll;
  }
  &.auto > div {
    overflow-x: auto;
  }
}
#overflow-y .preview {
  & > div {
    width: 200px;
    height: 50px;
    & > div {
      width: 180px;
      overflow-x: hidden;
    }
  }
  &.hidden > div {
    overflow-y: hidden;
  }
  &.scroll > div {
    overflow-y: scroll;
  }
  &.auto > div {
    overflow-y: auto;
  }
}
