#padding-top .preview {
  &.a {
    .div-b {
      padding-top: 20px;
      &::after {
        content: 'padding-top: 20px'
      }
    }
  }
}
#padding-bottom .preview {
  &.a {
    .div-b {
      padding-bottom: 20px;
      &::after {
        content: 'padding-bottom: 20px'
      }
    }
  }
}

#padding-left .preview {
  & > div {
    position: relative;
  }
  &.default {
    .range {
      display: none;
    }
  }
  &.a {
    .div-b {
      padding-left: 20px;
      width: auto;
      &::after {
        content: 'padding-left: 20px'
      }
    }
    .range {
      position: absolute;
      top: 40px;
      left: 0px;
      width: 20px;
      height: 38px;
      border: 1px solid black;
    }
  }
}

#padding-right .preview {
  & > div {
    position: relative;
  }
  &.default {
    .range {
      display: none;
    }
  }
  &.a {
    .div-b {
      padding-right: 20px;
      width: auto;
      &::after {
        content: 'padding-right: 20px'
      }
    }
  }
  .range {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 20px;
    height: 38px;
    border: 1px solid black;
  }
}

#padding .preview {
  &.a {
    .div-b {
      padding: 10px;
      width: calc(100% - 20px);
      &::after {
        content: 'padding: 10px'
      }
    }
  }
  &.b {
    .div-b {
      padding: 10px 20px;
      width: calc(100% - 40px);
      &::after {
        content: 'padding-right: 10px 20px'
      }
    }
  }
  &.c {
    .div-b {
      padding: 10px 20px 30px;
      width: calc(100% - 40px);
      &::after {
        content: 'padding-right: 10px 20px 30px'
      }
    }
  }
  &.d {
    .div-b {
      padding: 10px 20px 30px 40px;
      width: calc(100% - 60px);
      &::after {
        content: 'padding-right: 10px 20px 30px 40px'
      }
    }
  }
}

#position .preview {
  & > div {
    position: relative;

    & > div {
      width: 300px;
      height: 50px;
      padding: 0px 3px;
      align-items: center;
      display: flex;

      &:nth-child(1) {
        background: $oc-yellow-5;
      }
      &:nth-child(3) {
        background: $oc-red-5;
      }
    }
    .target {
      left: 0px;
      top: 30px;
      background: $oc-green-4;
      opacity: 0.9;
    }
  }

  &.relative > div {
    .target {
      position: relative;
    }
  }
  &.absolute > div {
    .target {
      position: absolute;
    }
  }
  &.fixed > div {
    .target {
      //position: fixed;
      .button {
        min-width: 130px;
        height: 30px;
        margin-left: 10px;
        border-radius: 3px;
        background: $oc-blue-5;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          background: $oc-blue-6;
        }
        &:active {
          background: $oc-blue-7;
        }
      }
    }
  }
}
