#top .preview {

  & > div {
    margin: 30px;
    border: 1px solid $oc-blue-5;
    position: relative;
    height: 100px;
    font-size: 14px;

    & > span {
      width: 100px;
      padding: 10px 0px;
      display: inline-block;
      text-align: center;
    }
  }
  .absolute {
    position: absolute;
    left: 150px;
    background: $oc-red-4;
  }
  .relative {
    position: relative;
    background: $oc-yellow-4;
    left: 10px;
  }
  .natural-absolute {
    position: absolute;
    left: 150px;
    background: $oc-red-4;
    opacity: 0.2;
  }
  .natural-relative {
    position: absolute;
    background: $oc-yellow-4;
    left: 10px;
    opacity: 0.2;
  }
  &.px-20 {
    .relative, .absolute {
      top: 20px;
    }
  }
  &.px-0 {
    .relative, .absolute {
      top: 0px;
    }
  }
  &.per-50 {
    .relative, .absolute {
      top: 50%;
    }
  }
}

#text-transform .preview {
  &.capitalize {
    text-transform: capitalize;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.full-width {
    text-transform: full-width;
  }
}

#text-shadow .preview {
  &.a {
    text-shadow: 3px 5px;
  }
  &.b {
    text-shadow: 3px 5px 5px;
  }
  &.c {
    text-shadow: 3px 5px red;
  }
  &.d {
    text-shadow: 3px 5px 5px red;
  }
  &.e {
    text-shadow: red 0px 0px 5px;
  }
}

#text-align .preview {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
  &.justify {
    text-align: justify;
  }
}

#text-decoration .preview {
  &.underline {
    text-decoration: underline;
  }
  &.overline {
    text-decoration: overline;
  }
  &.line-through {
    text-decoration: line-through;
  }
  &.a {
    color: red;
    text-decoration: line-through;
  }
}

#text-indent .preview {
  & > div {
    width: 350px;
    background: $oc-blue-3;
    margin-left: 30px;
  }
  &.a {
    text-indent: 20px;
  }
  &.b {
    text-indent: -20px;
  }
}

#text-overflow .preview {
  & > div {
    width: 200px;
    height: 30px;
    background: $oc-blue-3;
    overflow: hidden;
    white-space: nowrap;
  }
  &.ellipsis > div {
    text-overflow: ellipsis;
  }
}

#transform .preview {
  & > div {
    position: relative;
    & > div {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .normal {
    border: 2px dotted $oc-red-6;
  }
  .transformed {
    background: $oc-blue-4;
    border: 2px solid $oc-blue-4;
    opacity: 0.8;
  }
  &.translateX .transformed {
    transform: translateX(20px);
  }
  &.translateY .transformed {
    transform: translateY(20px);
  }
  &.translate .transformed {
    transform: translate(20px, 20px);
  }
  &.scaleX .transformed {
    transform: scaleX(0.8);
  }
  &.scaleY .transformed {
    transform: scaleY(1.3);
  }
  &.scale .transformed {
    transform: scale(1.3, 0.5);
  }
  &.rotate .transformed {
    transform: rotate(45deg);
  }
  &.skewX .transformed {
    transform: skewX(15deg);
  }
  &.skewY .transformed {
    transform: skewY(15deg);
  }
  &.skew .transformed {
    transform: skew(15deg, 25deg);
  }
  &.a .transformed {
    transform: translate(30px, 30px) rotate(45deg);
  }
}

#transform-origin .preview {
  & > div {
    position: relative;
    & > div {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .normal {
    border: 2px dotted $oc-red-6;
  }
  .transformed {
    background: $oc-blue-4;
    border: 2px solid $oc-blue-4;
    opacity: 0.8;
    transform: rotate(45deg);
  }
  .origin {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $oc-red-6;
    position: absolute;
  }
  &.default {
    .origin {
      top: 37px;
      left: 37px;
    }
  }
  &.a {
    .origin {
      top: 37px;
      left: 17px;
    }
    .transformed {
      transform-origin: 20px 20px;
    }
  }
}
